.leaderboard {
    zoom: 0.8; /* just temp hack remove me */
    position: relative;
    text-align: right;
    margin-bottom: 30px;
    margin-right: 30px;
    overflow: hidden;
}

.leaderboard-entry-row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 6px;
}

.leaderboard-entry {
    display: flex;
    justify-content: flex-end;
    width: fit-content;
    align-items: center;
    position: relative;
    padding: 10px 16px;
    background: linear-gradient(180deg, #00000080, rgba(7, 13, 27, 0.5));
    border-radius: 42px;
    border: 1px solid rgb(92, 144, 255);
    margin-bottom: 6px;
    margin-left: auto;
    max-width: 100%;
    transition: border-color 0.5s ease;
}

.leaderboard-gap svg {
    margin-bottom: 3px;
    margin-right: 6px;
}

.leaderboard-user {
    margin-right: 12px;
    color: rgb(240, 240, 240);
    font-weight: bold;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.75);
}

.leaderboard-score {
    margin-right: 30px;
    color: rgb(145, 145, 145);
}

.shadow-circle {
    right: 2px;
    top: 3px !important;
}

.score-circle {
    position: absolute;
    right: 4px;
    top: -1px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: black;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 880px) {
    .leaderboard-entry {
        padding: 8px 14px;
        background: linear-gradient(180deg, #0000002f, rgba(7, 13, 27, 0.2));
        border-radius: 42px;
        margin-bottom: 4px;
        margin-left: auto;
        max-width: 100%;
    }
    .leaderboard-gap svg {
        margin-bottom: 2px;
    }
}

.swap-to-up {
    animation: swapToUp 0.3s ease-in-out;
}

@keyframes swapToUp {
    from {
        transform: translateY(-50px);
    }
    to {
        transform: translateY(0);
    }
}

.swap-to-left {
    animation: swapToLeft 0.2s ease-in-out;
    opacity: 1;
}

@keyframes swapToLeft {
    from {
        transform: translateX(50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.swap-to-down {
    animation: swapToDown 0.3s ease-in-out;
}

@keyframes swapToDown {
    from {
        transform: translateY(50px);
    }
    to {
        transform: translateY(0);
    }
}
